body {
  padding: 3em;
  background-color: lightblue;
}

li {
  list-style: none;
  font-size: 1.5em;
  margin: 0.25em;
}

input[type=text] {
  font-size: 2em;
  padding: 0.15em;
}
button {
  background-color: lightgray;
  font-size: 1rem;
  border: solid;
}
